<!DOCTYPE html>
<html>
  <head>
    <title>APK download</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="mia.js" type="text/javascript"></script>
  </head>
  <body>
		<h1>index.html</h1>
		<form method="POST" action="/api/zebra/upload" enctype="multipart/form-data">
			<input type="file" name="file" /><br/><br/>
			<input type="submit" value="Submit" />
		</form>

		<br/>
		<label>App downalod:</label>
		<br/>
		<a href="easyInventory2.apk" style="font-size: 30px">easyInventory2.apk</a>
		<br/>
		<br/>
		<a href="jhbarcode.apk" style="font-size: 30px">jhbarcode.apk</a>
  </body>
</html>
